body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
  background-color: #20232a;
}

#vanilla-app {
  color: #2c3e50;
  background-color: #efefef;
  background-image: url(../vanilla.svg);
  background-repeat: no-repeat;

  background-repeat: no-repeat;
  background-position: -100% 30%;
  background-size: 70% auto;
}

#my-react-app {
  background-color: #282c34;
  color: #efefef;

  background-image: url(../react-logo.svg);
  background-repeat: no-repeat;

  background-repeat: no-repeat;
  background-position: 200% 30%;
  background-size: 70% auto;
}

hr {
  opacity: 0.1;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.r {
  color: #61dafb;
}
.v {
  color: rgb(162, 117, 5);
}
